@model appProyectoDSWI_Tienda.Models.ProductoA

<section class="panel panel-primary">
    <section class="panel-heading">
        DATOS DEL PRODUCTO SELECCIONADO
    </section>
    <section class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.codigo)</dt>
            <dd>@Html.DisplayFor(model => model.codigo)</dd>
            <dt>@Html.DisplayNameFor(model => model.nombre)</dt>
            <dd>@Html.DisplayFor(model => model.nombre)</dd>
            <dt>@Html.DisplayNameFor(model => model.precio)</dt>
            <dd>@Html.DisplayFor(model => model.precio)</dd>
            <dt>@Html.DisplayNameFor(model => model.foto)</dt>
            <dd>
                <img class="imgPro" src="@Url.Content(Model.foto)" />
            </dd>
        </dl>
    </section>
</section>
